﻿<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <title></title>

    <script src="~/Scripts/Jquery/jquery-3.0.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/Bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/umd/popper.min.js" type="text/javascript"></script>

    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid">
        <header>
            <ul class="nav nav-pills float-right">

                <li class="nav-item">@Html.ActionLink("Produtos","Index","Produto", new object { }, new { @class = "nav-link"})</li>
                <li class="nav-item">@Html.ActionLink("Adicionar", "Form", "Produto", new object { }, new {@class = "nav-link" })</li>
            </ul>
            <h3>@Html.ActionLink("Sandro Store", "Index", "Home", new object { }, new { @class = "text-muted"})</h3>
        </header>
        <div class="container">
            @RenderBody()
        </div>
    </div>
    @RenderSection("Scripts", required: false);
</body>
</html>