﻿
@{
    Layout = null;
    ViewBag.Title = "Login Adminsitrativo";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/Jquery/jquery-3.0.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/Bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/umd/popper.min.js" type="text/javascript"></script>

    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid"> 
        <form method="post" action="/Login/Autenticar">
            @Html.AntiForgeryToken();
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" id="login" name="login" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" class="form-control" />
            </div>
            <br />
            <button class="btn btn-primary" type="submit">LOGIN</button>
        </form>
    </div>
</body>
</html>
