﻿<div>
    <h1>@ViewBag.Produto.Nome</h1>
</div>
<ul>
    <li>ID: @ViewBag.Produto.Id</li>
    <li>Nome: @ViewBag.Produto.Nome</li>
    <li>Preco: @ViewBag.Produto.Preco</li>
    <li>Quantidade: @ViewBag.Produto.Quantidade</li>
    <li>Descrição: @ViewBag.Produto.Descricao</li>
    <li>Categoria: @ViewBag.Produto.Categoria.Nome</li>
</ul>
<br />
@Html.ActionLink("Voltar", "Index")
