﻿<form action="/Produto/Adiciona" method="post">
    @Html.ValidationMessage("ErroPrecoCategoria")
    @Html.AntiForgeryToken();

    <label for="Nome">Nome</label>
    <input type="text" id="nome" name="Produto.Nome" value="@ViewBag.Produto.Nome"  class="form-control"/>
    @Html.ValidationMessage("Produto.Nome")

    <label for="preco">Preço</label>
    <input type="text" id="preco" name="Produto.Preco" value="@ViewBag.Produto.Preco" class="form-control"/>
    @Html.ValidationMessage("Produto.Preco")

    <label for="quantidade">Quantidade</label>
    <input type="number" id="quantidade" name="Produto.Quantidade" value="@ViewBag.Produto.Quantidade" class="form-control" />

    <label for="descricao">Descrição</label>
    <input type="text" id="descricao" name="Produto.Descricao" value="@ViewBag.Produto.Descricao" class="form-control"/>

    <select id="Categoria" name="Produto.CategoriaId"class="form-control">
        @foreach (var categoria in ViewBag.Categoria)
        {
            <option value="@categoria.Id" selected="@categoria.Id.Equals(ViewBag.Produto.CategoriaId)" >@categoria.Nome</option>
        }
    </select>

    <input type="submit" value="Cadastrar" class="btn btn-primary float-right" />

</form>
