﻿@model IList<MVC6Teste.Models.Produto>

@{
    ViewBag.Title = "Produtos";
}
<p>
    <br />
        @ViewBag.user.Nome;
    <br />
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Detalhes</th>
            <th>Decrementar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model)
        {
            <tr>
                <td>@produto.Id</td>
                <td>@produto.Nome</td>
                <td id="Quantidade@(produto.Id)">@produto.Quantidade</td>
                <td>@produto.Preco</td>
                <td>@produto.Categoria.Nome</td>
                <td>
                    @Html.RouteLink("Exibir", "Detalhes", new { ProdutoId = produto.Id })
                </td>
                <td>
                    <button class="btn btn-danger" onclick="produto.Decrementar(@produto.Id)">Decrementar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
   
    <script src="~/Scripts/Js/Produto.js"></script>

}